

/*=============================================
=            Header                           =
=============================================*/
#header{
    position: relative;
    left: 0;
    right: 0;

}



/*=============================================
=            Hero Section                     =
=============================================*/
#hero-section {
    background-image: url(../imgs/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}



/*=============================================
=            Recent Section                   =
=============================================*/




/*=============================================
=            Blog Section                     =
=============================================*/





/*=============================================
=            Info Section                     =
=============================================*/





/*=============================================
=            Footer                           =
=============================================*/









